:root {
  --bg-color: #2C0E39;
  --font-display: 'Fjalla One';
  --grid-layout: repeat(auto-fit, minmax(300px, 1fr));
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-display);
  background-color: var(--bg-color);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
