.primaryHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    /* background: url(/assets/logo.png) center / contain no-repeat, #636365; */
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.15) 100%); */
    box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
    z-index: 1;
}

.primaryHeader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
}

.primaryHeader::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 300 / 400;
    background: url(/assets/ffh-header.png) left -65px / cover no-repeat;
    z-index: -1;
}

.primaryHeader > div:nth-child(2) {
    position: static;
    display: flex;
    align-items: center;
    order: 1;
    z-index: 10000;
}

.accent {
    position: absolute;
    aspect-ratio: 300 / 400;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.accent::before {
    content: "";
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    aspect-ratio: 300 / 400;
    background: url(/assets/halftone.png) bottom / contain repeat-x;
    z-index: 1;
}

.primaryHeader > div:nth-child(1) {
    order: 2;
}

.primaryHeader > div:nth-child(1) a {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    letter-spacing: 3px;
    color: white;
}

.primaryHeader nav > div {
    display: none;
}

.primaryHeader nav > button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid silver;
    padding: 0;
}

.primaryHeader nav ul {
    list-style: none;
}

.primaryHeader > div:nth-child(2) > div {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 150px);
    padding: 15px;
    transition: transform 0.25s ease-out;
    transform: translateX(-100%);
    background: rgba(0,0,0,0.95);
    z-index: 1000;
}

.primaryHeader .close > div {
    transition: transform 0.25s ease-in !important;
    transform: translateX(0) !important;
}

.primaryHeader > div:nth-child(2) > div a {
    letter-spacing: 3px;
    margin-bottom: 15px;
    color: white;
}

.primaryHeader > div:nth-child(2) > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-family: var(--font-display);
    background: red;
    color: white;
    letter-spacing: 3px;
}

.avatar {
    border-radius: 100%;
    margin-bottom: 12px;
    padding: 3px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: black;
}

.avatarCont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    order: 2;
    z-index: 1;
}

.avatarCont button {
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.primaryHeading {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
    text-shadow: 3px 2px rgba(0,0,0,0.8);
    text-transform: uppercase;
    color: white;
}

@media (min-width: 500px) {
    .primaryHeader::after,
    .accent,
    .accent::before {
        aspect-ratio: 300 / 240;
    }

    .accent::before {
        bottom: -15px;
    }
}

@media (min-width: 1100px) {
    .primaryHeader::after,
    .accent,
    .accent::before {
        aspect-ratio: 1100 / 450;
    }

    .primaryHeader > div:nth-child(2) > button {
        width: 80px;
        height: 80px;
    }
}