.mainCont {
    position: relative;
    z-index: 1;
    padding: 25% 25px 25px;
    text-align: center;
    color: white;
    pointer-events: none;
}

.mainCont h1 {
    font-size: 40px;
    margin-bottom: 25px;
    text-shadow: 3px 2px rgba(0,0,0,0.8);
    text-transform: uppercase;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #636365;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    max-width: 160px;
}

.spacer {
    aspect-ratio: 300 / 400;
    opacity: 0;
}

@media (min-width: 500px) {
    .spacer {
        aspect-ratio: 300 / 240;
    }
}

.infoCont {
    max-width: 1200px;
    margin: 0 auto 40px;
    padding: 15px;
}

.infoCont h1,
.infoCont h2 {
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px red;
}

.infoCont h2 {
    font-size: 20px;
    margin: 25px 0;
}

.infoCont p {
    font-size: 17px;
    line-height: 27px;
    color: red;
}

.infoCont a {
    color: red;
    text-decoration: underline;
}

.infoCont ul {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    padding: 0;
    list-style: none;
    z-index: 1;
}

.infoCont ul h3 {
    text-transform: uppercase;
    color: darkslategray;
    letter-spacing: 4px;
    font-size: 20px;
    line-height: 22px;
}

.infoCont ul span {
    display: block;
    color: darkslategray;
}

.infoCont ul li {
    position: relative;
    padding: 5px 10px;
    background-color: white;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.4);
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
}

.infoCont ul li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translate(-10px, -10px);
    background-color: red;
}

.infoCont .pHeading {
    color: black;
}

.ctaBtn {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

@media (min-width: 641px) {
    .spacer {
        aspect-ratio: 300 / 240;
    }
}

@media (min-width: 800px) {
    .footer {
        position: relative;
        margin-top: 150px;
    }
}

@media (min-width: 1100px) {
    .spacer {
        aspect-ratio: 1100 / 450;
    }
}