.navCont {
    margin: 50px 0;
}

.navCont ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
}

.navCont ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.navCont ul li svg {
    width: 24px;
    margin-right: 15px;
}

.navCont ul li svg path {
    fill: #FF0000;
}

.infoCont {
    padding: 15px;
}

.infoCont p {
    font-size: 18px;
    line-height: 28px;
}

.loginCont {
    position: relative;
    max-width: 880px;
    margin: 0 auto;
}

.close {

}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition-delay: 1s;
    transform: translate(-50%, -50%);
    padding: 15px;
    opacity: 0;
    width: 75%;
    max-width: 650px;
}

.inner * {
    transition: opacity 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-delay: 1s;
    opacity: 0;
}

.inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform-origin: center center;
    transition-delay: 1s;
    z-index: -1;
}

.active .inner {
    opacity: 1;
}

.active .inner::after {
    transform: scale(1.2);
}

.active .inner * {
    opacity: 1;
}

.close,
.login {
    position: absolute;
    top: -15px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-family: var(--font-display);
    background: red;
    color: white;
    letter-spacing: 3px;
}

.login {
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.login::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vh;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.active {
    opacity: 1;
}